body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rotateIcon {
  animation: rotation 2s infinite linear;
}

.pulse {
  animation: color-change 2s infinite;
  animation-iteration-count: 3;
}

@keyframes color-change {
  from { color: #9ca3af; }
	to { color: #12b3c0 }
}


@keyframes rotation {
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
